<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>MQBProject</display-name>
  
   <servlet>
   	<servlet-name>ControlServlet</servlet-name>
 	 <servlet-class>com.control.ControlServlet</servlet-class>
 	
 	<init-param> <!--실행하자마자 이닛이라는 메소드 안에 읽어주세요. 서블릿 컨피그 환경에서 이름정해놓은  -->
		 <param-name>propertyConfig</param-name>  <!-- 아래 경로를 이름 지어준것 -->
		 <param-value>D:/java_ee/workspace/MQBProject/src/main/webapp/WEB-INF/command.properties</param-value>
 	</init-param>  <!-- 경로는 역슬래쉬 2번 쓰거나 슬래쉬로 바꾸거나! -->
 
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControlServlet</servlet-name>
  	<url-pattern>*.do</url-pattern>  <!-- 언제든지 서블릿을 처리하겠다. 요청파일을 가지고 넘어오게 된다.웹주소. 앞글자 상관없이 .do 로 요청들어오면 무조건 서블릿 클래스로 들어오는것 -->
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>